<div class="container-fruid fixed-top" style="position: fixed;">
  <nav class="navbar navbar-expand-md bg-white border-bottom mb-4">
    <!-- logo -->
    <div class="col-md-4">
      <a href="/"><img src="/img/logo.png" alt="logo" height="40rem"></a>
    </div>
    <!-- logo -->
    <!-- search form -->
    <div class="col-md-4">
      <form class="from-inline my-2 my-lg-0 d-flex  " method="GET" action="/search/1  ">
        <input class="form-control mr-md-2" type="search" placeholder="Tìm kiếm" name="key" aria-label="Search">
        <button class="btn btn-success my-2 my-md-0" type="submit">Tìm kiếm</button>
      </form>
    </div>  
    <!-- search form -->
    <!-- dropdown -->
    <div class="col-md-4">
      <ul class="navbar-nav float-right">
        <li class="nav-item">
          <% if(myInfo){ %> 
          <div class="dropdown">
            <a class="dropdown-toggle" id='dropdown-avatar' data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="<%= myInfo.avatar %>" class="rounded-circle" id='avatar' height="40rem" width="40rem">
            </a>
            <div class="dropdown-menu"  style="right: 0; left: auto;" aria-labelledby="dropdown-avatar">
              <a class="dropdown-item" data-toggle="modal" data-target="#change-avatar">Đổi ảnh đại diện</a>
              <a class="dropdown-item" data-toggle="modal" data-target="#change-password">Đổi mật khẩu</a>
              <a class="dropdown-item" href="/signout">Đăng xuất</a>
            </div>
          </div>
          <% } %> 
        </li>
      </ul>
      <div class="navbar-nav float-right">
        <a href="#" class="h3 mr-5" id="dropdown-activity-button" style="line-height: initial;"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <i class="far fa-heart"></i>
          <span id="noti-count" class="badge badge-danger" style="font-size: 40%;"><%= myInfo.noti.length %> </span>
        </a>
        <div class="dropdown-menu dropdown-activity" role="menu"  style="right: 0; left: auto; width: 400px; height: auto; max-height: 600px; overflow-x: hidden;" aria-labelledby="dropdown-activity"> 
          <% if(myInfo.noti.length > 0){myInfo.noti.forEach(noti => { %>
            <%  if(noti.type == 2){%>
              <a class="text-dark" href="/user/noti/<%= noti._id %>/<%= noti.user._id %>">
            <%} else {%>
               <a class="text-dark" href="/post/noti/<%= noti._id %>/<%= noti.post._id %>">
            <% } %> 
          <div class="dropdown-item activity-item border-bottom"> 
            <div class="row"> 
              <div class="col-8">

                <% if(noti.type == 0) {%> 
                  <p class=""><strong><%= noti.user.username %> </strong> vừa thích ảnh của bạn</p>
                  <p><%= noti.post.caption %> </p>
               
                <% } else if(noti.type == 1) { %> 
                  <p class=""><strong><%= noti.user.username %> </strong> vừa bình luận ảnh của bạn</p>
                  <p><%= noti.post.caption %> </p>
              
                <% } else { %> 
                  <p class=""><strong><%= noti.user.username %> </strong> đã theo dõi bạn</p>
                <% } %> 
              </div>
              <div class="col-4 float-right">
                <%  if(noti.type == 2){ %>
                <img class="float-right" src="<%= noti.user.avatar %> " height="40rem" width="40rem">
                <% } else {%>
                <img class="float-right" src="<%= noti.post.imgUrl %> " height="40rem" width="40rem">
                <% } %> 
              </div>
            </div>
          </a>
          </div>
        <% })} else { %> 
            <p class="mx-5" id="none-noti" data-display="true">Không có thông báo nào</p>
        <%}  %> 
        </div>
      </div>
    </div>
    <!-- dropdown -->
  </nav>
</div>
<!-- modal -->
<div class="modal fade" id="change-avatar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form action="/avatar/" method="post" enctype="multipart/form-data">
      <div class="modal-header">
        <h5 class="modal-title" id="">Chọn ảnh đại diện</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <input class="form-control" type="file" name="img" id="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit"  class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>



  
</div>
  <div class="modal fade" id="change-password" tabindex="-1" role="dialog" aria-labelledby="change-password" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form method="post" id = "change-password-form">
        <div class="modal-header">
          <h5 class="modal-title" id="">Đổi mật khẩu</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body col-8 mx-auto">
            <input class="form-control my-1 my-4" type="password" name="oldpass" id="old-pass" placeholder="Mật khẩu cũ">
            <input class="form-control my-1 my-4" type="password" name="newpass" id="new-pass" placeholder="Mật khẩu mới">
            <input class="form-control my-1 my-4" type="password" name="renewpass" id="re-new-pass" placeholder="Nhập lại mật khẩu mới">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
          <button type="submit"  class="btn btn-primary">Đổi mật khẩu</button>
        </div>
      </form>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="update-post" tabindex="-1" role="dialog" aria-labelledby="update-post" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form method="post" id ="update-form" data-hi="">
      <div class="modal-header">
        <h5 class="modal-title" id="">Chỉnh sửa bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-10 mx-auto">
        <div  class="form-group"><textarea id="update-area" form="update-form" name="caption"  data-toggle="autosize" rows="3"class="form-control form-control-flush form-control-auto c5490"></textarea></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button type="submit"  class="btn btn-primary">Chỉnh sửa</button>
      </div>
    </form>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-post" tabindex="-1" role="dialog" aria-labelledby="delete-post" aria-hidden="true">
  <div class="modal-dialog bg-white" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">Xóa bài viết</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body col-10 mx-auto">
        <p class="h4">Bạn có chắn muốn xóa post?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
        <button class="btn btn-primary delete-post-submit" data-hi="">Xóa</button>
      </div>
    </div>
    </div>
</div>
<!-- model -->