<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .small-avatar{
            width: 50px;
            height: 50px;
        }
        body{
            padding-top: 5rem;
        }
    </style>
    <title>Bảng tin</title>
</head>
<body style="background-color: #fafafa;">
        <%- include('./partials/navbar') %> 
        <div class="container">
        <div  class="row">
            <div  class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 py-3">
                <h4 data-type="header" class="mt-15">Thêm ảnh mới</h4>
                <div  class="card mb-3"> <!-- Khung đăng ảnh -->
                    <div  class="card-body">
                        <!-- Form -->
                        <form action="/post" method="POST" id='postCard' enctype="multipart/form-data">
                            <div  class="form-group"><textarea form="postCard" name="caption"  data-toggle="autosize" rows="3" placeholder="Start a post..." class="form-control form-control-flush form-control-auto c5490"></textarea></div>

                        <div  class="row align-items-center float-right">
                            <div  class="col-auto d-flex">
                              <input class="mr-0 form-control" type="file" name="img" id="img">
                              <button class="btn btn-success col-4 my-md-0" type="submit">Đăng</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>



                <% if(posts.length == 0) {%>
                    <p>Hãy follow mọi người để xem bài đăng</p> 
                <% } %>

                <% posts.forEach( function(post) { %>
                    <div class="card my-3 feed <%= post.ownerInfo.username %>" id="post<%= post.id %>"> <!-- a feed --> 
                        <div class="card-body">
                        <!-- Header cua post (avatar, username, menu) -->
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a href="#" class="avatar">
                                        <img src="<%= post.ownerInfo.avatar %>" class="avatar-img rounded-circle small-avatar">
                                    </a>
                                </div>
                                <div class="col ml-n2">
                                    <a class="text-dark" href="/user/<%= post.ownerInfo._id%>">
                                        <h4 class="card-title mb-1"><%= post.ownerInfo.username %></h4>
                                    </a>
                                    <p class="text-mute"><%= post.date %> </p>
                                </div>
                                <div class="float-right dropdown">
                                    <button class="btn btn-link text-dark cropdown-toggle" id="menu<%= post.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><p class="h3">...</p></button>
                                    <div class="dropdown-menu" aria-labelledby="menu<%= post.id %>">
                                        <%   if (post.menu.update){%> 
                                        <a class="dropdown-item update-post" href="#" data-toggle="modal" data-target="#update-post">Chỉnh sửa bài viết</a>
                                        <% } if (post.menu.delete){%>
                                        <a class="dropdown-item delete-post-toggle" href="#" data-toggle="modal" data-target="#delete-post" id="delete<%= post.id %>">Xóa bài viết</a>
                                        <% } if (post.menu.unfollow){%>
                                        <a class="dropdown-item unfollow-in-post" data-owner="<%= post.ownerInfo.username %>">Ngưng theo dõi</a>
                                        <% } %> 
                                    </div>
                                </div>  
                            </div> 
                        <!-- Header cua post (avatar, username, menu) -->
                        <!-- Content cua post (anh va cap tion) -->
                            <div class="row">
                                <p class="col-12 mt-2 caption"><%= post.caption %></p>
                                <div class="col-12"><img src="<%= post.imgUrl %>" alt=""  class="img-fluid"></div>
                            </div>
                        <!-- Content cua post (anh va cap tion) -->
                        <!-- Cac nut control     -->
                            <div class="row">
                                <div class="border-top my-1 ml-3">
                                    <% if(!post.like){ %> 
                                        <button id="<%= post.id %>" class="btn btn-link text-dark font-weight-bold mr-4 like">Thích</button>
                                    <% } else { %>
                                        <button id="<%= post.id %>" class="btn btn-link text-dark font-weight-bold mr-4 unlike">Bỏ thích</button>
                                    <% } %>  
                                    <p class="col-auto text-dark font-weight-bold like-count<%= post.id %>"> <%= post.likeCount %> lượt thích</p>
                                </div>
                            </div>
                        <!-- Cac nut control     -->
                            <div class="row">
                                <% if (post.comments.length == 2) {%>
                                    <a href="/post/<%= post.id %> " class="col-auto ml-4 badge badge-light" target="_blank" rel="noopener noreferrer">Xem tất cả bình luận</a> 
                                <% }  %> 
                            </div>
                            <div class="row comment-area-<%= post.id %>">
                                <% if (post.comments){ %>
                                    <% post.comments.forEach( comment => {%>
                                        <div class="col-10 ml-3 pt-1 comment">
                                            <a href="/user/<%= comment.ownerInfo._id %> " class="text-dark bold">
                                                <strong><%= comment.ownerInfo.username %></strong>
                                            </a>
                                            <span><%= comment.content %> </span>
                                        </div>
                                    <% }) %>  
                                <% } %>  
                            </div>
                            <form class="comment-form" data-id="<%= post.id %> " method="POST">
                                <div class="d-flex my-2 mx-3">
                                    <input class="form-control" type="text" name="content" id="" placeholder="Nhập bình luận" autocomplete="off">
                                    <button type="submit" class="btn btn-primary ml-5">Bình luận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% }) %> 


                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <% if (previous != false) {%> 
                      <li class="page-item"><a class="page-link" href="<%= previous %> ">Xem bài viết mới hơn</a></li>
                    <% } %> 
                    <% if (next != false){ %> 
                      <li class="page-item ml-5"><a class="page-link" href="/page/<%= next %>">Xem bài viết cũ hơn</a></li>
                    <% } %> 
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
    <script src="/main.js"></script>
</body>
</html>