<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .small-avatar{
            width: 50px;
            height: 50px;
        }
        body{
            padding-top: 5rem;
        }
    </style>
    <title>Document</title>
</head>
<body>
        <%- include('./partials/navbar') %> 
        <div class="container">
        <div  class="row">
            <div  class="col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 py-3">
                <h4 data-type="header" class="mt-15">Thêm ảnh mới</h4>
                <div  class="card mb-3"> <!-- Khung đăng ảnh -->
                    <div  class="card-body">
                        <!-- Form -->
                        <form action="/post" method="POST" id='postCard' enctype="multipart/form-data">
                            <div  class="form-group"><textarea form="postCard" name="caption"  data-toggle="autosize" rows="3" placeholder="Start a post..." class="form-control form-control-flush form-control-auto c5490"></textarea></div>

                        <div  class="row align-items-center">
                            <div  class="col">
                                <!-- Symbols --><small class="text-muted"> </small>
                            </div>
                            <div  class="col-auto">
                                <!-- Icons -->
                              <input class="mr-0" type="file" name="img" id="img">
                              <button class="btn btn-inline-light col-2 my-md-0" type="submit">Đăng</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <% if(posts.length == 0) {%>
                    <p>Hãy follow mọi người để xem bài đăng</p> 
                <% } %>
                <% posts.forEach( function(post) { %>
                    <div class="card my-3 feed"> <!-- a feed --> 
                        <div class="card-body">
                        <!-- Header cua post (avatar, username, menu) -->
                            <div class="row align-items-center">
                                <div class="col-auto">
                                    <a href="#" class="avatar">
                                        <img src="<%= post.ownerInfo.avatar %>" class="avatar-img rounded-circle small-avatar">
                                    </a>
                                </div>
                                <div class="col ml-n2">
                                    <a class="text-dark" href="#">
                                        <h4 class="card-title mb-1"><%= post.ownerInfo.username %></h4>
                                    </a>
                                </div>
                                <div class="float-right">
                                    <button class="btn btn-link text-dark cropdown-toggle postmenu" id="menu<%= post.id %>"><p class="h3">...</p></button>
                                </div>
                            </div> 
                        <!-- Header cua post (avatar, username, menu) -->
                        <!-- Content cua post (anh va cap tion) -->
                            <div class="row">
                                <p class="mt-2 ml-3 "><%= post.caption %></p>
                                <div class="col-12"><img src="<%= post.imgUrl %>" alt=""  class="img-fluid rounded"></div>
                            </div>
                        <!-- Content cua post (anh va cap tion) -->
                        <!-- Cac nut control     -->
                            <div class="row">
                                <div class="border-top my-1 ml-3">
                                    <% if(!post.like){ %> 
                                        <button id="<%= post.id %>" class="btn btn-link mr-4 like">Thích<span class="badge badge-dark ml-2"><%= post.likeCount %> </span></button>
                                    <% } else { %>
                                        <button id="<%= post.id %>" class="btn btn-link mr-4 unlike">Bỏ thích<span class="badge badge-dark ml-2"><%= post.likeCount %> </button>
                                    <% } %>  
                                </div>
                            </div>
                        <!-- Cac nut control     -->
                            <div class="row">
                                <% if(post.comments){ %>
                                    <% post.comments.forEach( comment => {%>
                                        <div class="col-10 ml-3 pt-1 comment">
                                            <a href="/user/<%= comment.ownerInfo._id     %> " class="text-dark bold">
                                                <strong><%= comment.ownerInfo.username %></strong>
                                            </a>
                                            <span><%= comment.content %> </span>
                                        </div>
                                    <% }) %>  
                                <% } %>  
                                <div class="col-10 ml-3 pt-1 comment">
                                    <a href="#" class="text-dark bold"><strong>hogiahuy98</strong></a>
                                    <span>Ngon vl</span>
                                    <a class="float-right">...</a>
                                </div>
                            </div>
                            <form action="/comment/<%= post.id %>" method="POST">
                                <div class="d-flex my-2 mx-3">
                                    <input class="form-control" type="text" name="content" id="" placeholder="Nhập bình luận" autocomplete="off">
                                    <button type="submit" class="btn btn-primary ml-5">Bình luận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                <% }) %> 
            </div>
        </div>
    </div>
    <script src="jquery/jquery.min.js"></script>
    <script src="main.js"></script>
    <script>
            $(document).on('click', '.like', function() {
                $.ajax({
                    url:    "/like/"+ $(this).attr('id'),
                    method: "post",
                    context: this,
                    success: function(data){
                        if(data.success){
                            $(this).html(`Bỏ thích <span class="badge badge-dark"> ${data.likeCount}<span>`);
                            $(this).removeClass("like");
                            $(this).addClass('unlike');
                        }
                        else{
                            alert(data);
                        }
                    }
                });
            });
            
            $(document).on('click', '.unlike', function(){
                $.ajax({
                    url:    `/unlike/${$(this).attr('id')}`,
                    method: "post",
                    context: this,
                    success: function(data){
                        if(data.success){
                            $(this).html(`Thích <span class="badge badge-dark"> ${data.likeCount}<span>`);
                            $(this).removeClass("unlike");
                            $(this).addClass('like');
                        }
                        else{
                            alert(data);
                        }
                    }
                });
            });
    </script>
</body>
</html>