<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %> 
</head>
<body>
    <%- include('./partials/navbar') %> 
    <div class="container">
        <div class="col-6" style="margin: 60px;">
            <table class="table ">
                <tbody>
                    <% list.forEach( function (user) { %> 
                    <tr>
                        <td>
                            <img src="<%= user.avatar %> " width='40rem' height="40rem">
                        </td>
                        <td>
                            <a href="/user/<%= user._id %>"> <%= user.username %> </a>
                        </td>
                        <% if (user.followed == true){ %> 
                            <td><button class="btn btn-outline-danger unfollow-button" id="<%= user._id %>"> Unfollow</button></td>
                        <% } else {%> 
                        <td><button class="btn btn-outline-primary follow-button" id="<%= user._id %>">Follow</button></td>
                        <% } %> 
                    </tr> 
                    <% }) %> 
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <% if(paging.previousPage){ %>
                        <li class="page-item"><a class="page-link float-left" href="<%= paging.previousPage %> ">Previous</a></li>
                    <% } %>
                    <% if (paging.nextPage){ %>
                        <li class="page-item"><a class="page-link float-left" href="<%= paging.nextPage %> ">Next</a></li>
                    <% } %>     
                </ul>
              </nav>
        </div>
    </div>
</body>
<script src="/main.js"></script>

</html>